# PyCharm
.idea/

# Virtual Environment
.venv/

# Python
src/__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
build/
dist/

#Latex
*.aux
*.bbl
*.blg
*.out
*.synctex.gz
*.toc

# --- Logs & Results ---
# Use the trailing slash to ignore the directory and all its contents.
# This is the definitive fix to prevent `git reset --hard` from deleting them.
results/
logs/

# Ignore all data files. Data is managed locally by the pipeline.
data/*
results/*

# --- Environment Files ---
 /configuration/environment.yml